@media (min-width: 1270px) {
  .grid-course-container__main {
    display: grid;
    background: #141b3a;
    width: 90%;
    margin: -4rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      'video-preview course-description'
      'learning-objective learning-progress'
      'table-of-contents-header table-of-contents-skills'
      'table-of-contents table-of-contents';
  }

  .grid-course-container__main__video-preview {
    grid-area: video-preview;
    margin: auto;
    padding: 1rem 2rem;
  }

  .grid-course-container__main__video-description {
    grid-area: course-description;
    margin: auto;
    padding: 5rem 1rem;
    color: #eed9ca;
    width: 70%;
    line-height: 1.5rem;
  }

  .grid-course-container__main__video-description > h1 {
    color: #d857d9;
    padding-bottom: 1rem;
  }

  .grid-course-container__main__video-description > p {
    padding-left: 2px;
  }

  .grid-course-container__main__video-description > a {
    margin-left: 3px;
  }

  .grid-course-container__main__learning-objective {
    grid-area: learning-objective;
    margin: auto;
  }

  .grid-course-container__main__learning-progress {
    grid-area: learning-progress;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 'grid-course-container__main__learning-progress__chartjs grid-course-container__main__learning-progress__description';
  }

  .grid-course-container__main__learning-progress__chartjs {
    grid-template: grid-course-container__main__learning-progress__chartjs;
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .grid-course-container__main__learning-progress__description {
    grid-template: grid-course-container__main__learning-progress__description;
    margin: 4rem 3rem;
  }

  .grid-course-container__main__learning-progress__description > h2 {
    color: #d857d9;
    font-size: 1.25rem;
  }

  .grid-course-container__main__learning-progress__description ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }

  .grid-course-container__main__learning-progress__description ul li {
    color: #ffc740;
    margin: 5px 0;
  }

  .grid-course-container__main__learning-progress__description ul li:nth-child(1) {
    margin-right: auto;
  }

  .grid-course-container__main__learning-progress__description ul li p {
    color: #eed9ca;
    padding: 0 1rem;
  }

  .grid-course-container__main__learning-progress__description > p {
    color: #eed9ca;
    margin: 0.5rem 0;
    font-size: small;
  }

  .grid-course-container__main__learning-progress__description > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #6301e4;
    margin-top: 1rem;
    padding: 0;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) {
    display: flex;
    flex-direction: column;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) > li:nth-child(1) {
    color: #d857d9;
    font-size: 3rem;
    margin-bottom: -2rem;
  }

  .grid-course-container__main__learning-progress__description
    ul:nth-child(6)
    > li:nth-child(2)
    > p {
    padding: 0 1rem;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) > li:nth-child(3) {
    color: #d857d9;
    font-size: 3rem;
    margin-left: auto;
    margin-top: -1rem;
  }

  .grid-course-container__main__table-of-contents-header {
    grid-area: table-of-contents-header;
    padding: 0 2rem;
  }

  .grid-course-container__main__table-of-contents-header > h1 {
    color: #d857d9;
    margin: 1rem 0;
  }

  .grid-course-container__main__table-of-contents-skills {
    grid-area: table-of-contents-skills;
    margin: auto;
    padding: 0rem 1rem;
    color: #eed9ca;
    width: 70%;
  }

  .grid-course-container__main__table-of-contents-skills > h1 {
    color: #d857d9;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
  }

  .grid-course-container__main__table-of-contents {
    grid-area: table-of-contents;
    padding: 0 2rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 1270px) {
  .grid-course-container__main {
    display: grid;
    background: #141b3a;
    width: 90%;
    margin: -4rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      'video-preview course-description'
      'learning-objective learning-progress'
      'table-of-contents-header table-of-contents-skills'
      'table-of-contents table-of-contents';
  }

  .grid-course-container__main__video-preview {
    grid-area: video-preview;
    margin: auto;
    padding: 1rem 2rem;
  }

  .grid-course-container__main__video-description {
    grid-area: course-description;
    margin: auto;
    padding: 5rem 1rem;
    color: #eed9ca;
    width: 70%;
  }

  .grid-course-container__main__learning-objective {
    grid-area: learning-objective;
    margin: auto;
  }

  .grid-course-container__main__learning-progress {
    grid-area: learning-progress;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 'chart-js chart-js-learning-progress';
  }

  .grid-course-container__main__learning-progress__chartjs {
    grid-template: chart-js;
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .grid-course-container__main__learning-progress__description {
    grid-template: chart-js-learning-progress;
    margin: 4rem 3rem;
  }

  .grid-course-container__main__learning-progress__description > h2 {
    color: #d857d9;
    font-size: 1.25rem;
  }

  .grid-course-container__main__learning-progress__description ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }

  .grid-course-container__main__learning-progress__description ul li {
    color: #ffc740;
    margin: 5px 0;
  }

  .grid-course-container__main__learning-progress__description ul li:nth-child(1) {
    margin-right: auto;
  }

  .grid-course-container__main__learning-progress__description ul li p {
    color: #eed9ca;
    padding: 0 1rem;
  }

  .grid-course-container__main__learning-progress__description > p {
    color: #eed9ca;
    margin: 0.5rem 0;
    font-size: small;
  }

  .grid-course-container__main__learning-progress__description > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #6301e4;
    margin-top: 1rem;
    padding: 0;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) {
    display: flex;
    flex-direction: column;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) > li:nth-child(1) {
    color: #d857d9;
    font-size: 3rem;
    margin-bottom: -2rem;
  }

  .grid-course-container__main__learning-progress__description
    ul:nth-child(6)
    > li:nth-child(2)
    > p {
    padding: 0 1rem;
  }

  .grid-course-container__main__learning-progress__description ul:nth-child(6) > li:nth-child(3) {
    color: #d857d9;
    font-size: 3rem;
    margin-left: auto;
    margin-top: -1rem;
  }

  .grid-course-container__main__table-of-contents-header {
    grid-area: table-of-contents-header;
    padding: 0 2rem;
  }

  .grid-course-container__main__table-of-contents-header > h1 {
    color: #d857d9;
    margin: 1rem 0;
  }

  .grid-course-container__main__table-of-contents-skills {
    grid-area: table-of-contents-skills;
    margin: auto;
    padding: 0rem 1rem;
    color: #eed9ca;
    width: 70%;
  }

  .grid-course-container__main__table-of-contents-skills > h1 {
    color: #d857d9;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
  }

  .grid-course-container__main__table-of-contents {
    grid-area: table-of-contents;
    padding: 0 2rem;
    padding-bottom: 4rem;
  }
}
