.grid-course-container__main__table-of-contents > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #cc4773;
  margin-top: 1rem;
  padding: 0;
}

.grid-course-container__main__table-of-contents > table > tbody > tr > td {
  padding: 1rem 0;
  padding-right: 2rem;
}

@media (max-width: 992px) {
  table tbody tr td iframe {
    margin-top: -3.5rem;
  }
}

.grid-table-of-content-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: 'course-image course-description';
}

.grid-table-of-content-container__image {
  grid-area: course-image;
}

.grid-table-of-content-container__description {
  grid-area: course-description;
}

.grid-table-of-content-container__image > ul {
  list-style: none;
}

.grid-table-of-content-container__description > ul {
  list-style: none;
}

.grid-table-of-content-container__description > ul > li:nth-child(1) > h3 {
  display: inline-block;
}

.grid-table-of-content-container__description > ul > li:nth-child(1) > p {
  display: inline-block;
}
