@media (max-width: 540px) {
  .main-grid-container__course__headline {
    position: relative;
    margin: 2rem 0;
    background: #6301e4;
    width: 87%;
    height: 93px;
  }

  .main-grid-container__course__headline__box {
    position: absolute;
    width: 68vw;
    height: 5rem;
    background: #141c3a;
    color: #ffffff;
    bottom: 32%;
    right: 11%;
    padding: 1rem 2rem;
  }

  .main-grid-container__course__headline > img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .label-triangle {
    width: 2rem;
    height: 2rem;
    top: 121%;
    right: 96%;
  }
}
