@media (max-width: 768px) {
  .main-grid-container__course__headline {
    position: relative;
    margin: 2rem 0;
    background: #6301e4;
    width: 87%;
    height: 93px;
  }

  .main-grid-container__course__headline__box {
    position: absolute;
    width: 91%;
    height: 6rem;
    background: #141c3a;
    color: #ffffff;
    bottom: 18%;
    /* right: 69%; */
    padding: 1rem 2rem;
  }

  .main-grid-container__course__headline__box > h1 {
    font-size: 6vw;
    text-align: center;
    padding-top: 11px;
  }

  .label-user {
    top: 62%;
    left: -2%;
    width: 22vw;
    height: 60%;
    font-weight: bold;
    font-size: 3.5vw;
    padding: 10px;
  }

  .label-triangle {
    width: 2rem;
    height: 2rem;
    top: 121%;
    right: 95%;
  }

  .main-grid-container__course__headline > img:nth-child(1) {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .main-grid-container__course__headline > img:nth-child(2) {
    display: inline-block;
    position: absolute;
    top: 99%;
    right: 0;
    bottom: 0;
  }
}
