.grid-course-container__main {
  display: grid;
  background: #141b3a;
  width: 90%;
  margin: -3rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    'grid-course-container__main__video-preview grid-course-container__main__video-description'
    'grid-course-container__main__learning-objective grid-course-container__main__learning-progress'
    'grid-course-container__main__learning-objective grid-course-container__main__learning-progress'
    'grid-course-container__main__table-of-contents-header grid-course-container__main__table-of-contents-skills'
    'grid-course-container__main__table-of-contents grid-course-container__main__table-of-contents';
}

.grid-course-container__main__video-preview {
  grid-area: grid-course-container__main__video-preview;
  margin: auto;
  padding: 1rem 2rem;
}

.grid-course-container__main__video-description {
  grid-area: grid-course-container__main__video-description;
  margin: auto;
  padding: 5rem 1rem;
  color: #eed9ca;
  width: 70%;
}

.grid-course-container__main__learning-objective {
  grid-area: grid-course-container__main__learning-objective;
  margin: auto;
}

.grid-course-container__main__learning-progress {
  grid-area: grid-course-container__main__learning-progress;
  margin: auto;
}

.grid-course-container__main__table-of-contents-header {
  grid-area: grid-course-container__main__table-of-contents-header;
  padding: 0 2rem;
}

.grid-course-container__main__table-of-contents-header > h1 {
  color: #d857d9;
  margin: 1rem 0;
}

.grid-course-container__main__table-of-contents-skills {
  grid-area: grid-course-container__main__table-of-contents-skills;
}

.grid-course-container__main__table-of-contents {
  grid-area: grid-course-container__main__table-of-contents;
  padding: 0 2rem;
}
