.main-grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas:
    'main-grid-container__aside main-grid-container__user-courses'
    'main-grid-container__aside main-grid-container__course__headline'
    'main-grid-container__aside main-grid-container__courses'
    'main-grid-container__aside main-grid-container__news_headliner'
    'main-grid-container__aside main-grid-container__news';
}

.main-grid-container__aside {
  display: grid;
  flex-direction: column;
  margin: 8rem 5rem;
}

.main-grid-container__courses {
  grid-area: main-grid-container__courses;
  display: grid;
  width: 87%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.main-grid-container__news {
  grid-area: main-grid-container__news;
  display: grid;
  width: 87%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding-bottom: 2rem;
}

.main-grid-container__aside {
  grid-area: main-grid-container__aside;
}

.main-grid-container__course__headline {
  grid-area: main-grid-container__course__headline;
}

.main-grid-container__news_headliner {
  grid-area: main-grid-container__news_headliner;
}

@media (min-width: 876px) {
  .main-grid-container__course__headline > h3 {
    display: none;
  }

  .main-grid-container__course__headline > div:nth-child(2) {
    display: none;
  }

  .main-grid-container__course__headline > span {
    display: none;
  }
}

@media (max-width: 876px) {
  .main-grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas:
      'main-grid-container__aside main-grid-container__user-courses'
      'main-grid-container__aside main-grid-container__course__headline'
      'main-grid-container__aside main-grid-container__courses'
      'main-grid-container__aside main-grid-container__news_headliner'
      'main-grid-container__aside main-grid-container__news';
  }
}
