.main-grid-container__news__top-article {
  display: grid;
  width: 87%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'main-grid-container__news__top-article__image main-grid-container__news__top-article__card-body';
}

.main-grid-container__news__top-article__image {
  grid-area: main-grid-container__news__top-article__image;
}

.container__news__card__card-body {
  grid-area: container__news__card__card-body;
}
