@media (max-width: 768px) {
  .grid-course-container__course-headline {
    position: relative;
    margin: 5rem 3rem;
    background: #6301e4;
    width: 91%;
    height: 93px;
  }

  .grid-course-container__course-headline__box > h1 {
    color: #d857d9;
  }

  .grid-course-container__course-headline__box {
    position: absolute;
    width: 95%;
    height: 5rem;
    background: #141c3a;
    color: #ffffff;
    bottom: 32%;
    right: 10%;
    padding: 1rem 2rem;
  }

  .grid-course-container__course-headline > img {
    position: absolute;
    display: none;
    top: 40%;
    right: 5%;
    bottom: 0;
  }
}
