@media (min-width: 1270px) {
  .preview-grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 'course-selection video-preview';
  }

  .preview-grid__courses {
    grid-area: course-selection;
    background: #141b3a;
    padding: 1rem 2rem;
    border-right: 3px solid #47cca0;
  }

  .preview-grid__courses > ul {
    margin-top: 1rem;
    list-style: none;
  }

  .preview-grid__courses > ul > div {
    display: inline-block;
  }

  [data-set-course-section] {
    font-weight: bold;
    color: #eed9ca;
  }

  [data-unordered-list] > li ul {
    display: flex;
    margin-left: 10px;
    list-style: none;
  }
  [data-unordered-list] > li ul > li:nth-child(1) {
    margin-top: -8px;
  }

  [data-unordered-list] > li ul > li:nth-child(2) {
    margin-top: -1rem;
    margin-left: 7px;
    color: #ffc740;
    font-weight: normal;
  }
  [data-unordered-list] > li ul > li:nth-child(1) p {
    font-size: calc(1px + 1vw);
    font-weight: normal;
  }

  [data-unordered-list] > li ul > li:nth-child(2) h1 {
    font-size: 2rem;
    font-weight: normal;
  }

  .data-unordered-list__li-duration img {
    display: inline-block;
    width: 1rem;
    margin-left: calc(1rem + 2vw);
  }

  .data-unordered-list__li-duration p {
    display: inline-block;
  }

  .preview-grid__courses > ul > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1rem 0;
    padding: 0;
  }

  .data-unordered-list__ul {
    justify-content: space-between;
  }

  .preview-grid__video-preview {
    grid-area: video-preview;
  }
}
