@media (min-width: 1270px) {
  .preview-grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: 'course-selection video-preview';
  }

  .preview-grid__courses {
    grid-area: course-selection;
    background: #141b3a;
    padding: 1rem 2rem;
  }

  .preview-grid__courses > ul {
    list-style: none;
  }

  .preview-grid__courses > ul > div {
    display: inline-block;
  }

  [data-set-course-section] {
    font-weight: bold;
    color: #eed9ca;
  }

  .preview-grid__courses > ul > h1 {
    display: inline-block;
    color: #ffc740;
    margin-left: 1rem;
  }

  .preview-grid__courses > ul > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1rem 0;
    padding: 0;
  }

  .preview-grid__video-preview {
    grid-area: video-preview;
  }
}
