@media (max-width: 768px) {
  .main-grid-container__news_headliner {
    position: relative;
    margin: 4rem 0;
    background: #1f9393;
    width: 87%;
    height: 93px;
  }

  .main-grid-container__news_headliner__box {
    position: absolute;
    width: 91%;
    height: 7rem;
    background: #591f93;
    color: #ffffff;
    bottom: 0;
    padding: 1rem 2rem;
  }

  .main-grid-container__news_headliner__box > h1 {
    font-size: 5.5vw;
    text-align: center;
  }

  .main-grid-container__news_headliner > img:nth-child(1) {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .main-grid-container__news_headliner > img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100%;
  }
  .label-triangle {
    width: 2rem;
    height: 2rem;
    top: 121%;
    right: 95%;
  }
}
