@media (max-width: 768px) {
  .main-grid-container__news_headliner {
    position: relative;
    margin: 4rem 0;
    background: #1f9393;
    width: 87%;
    height: 93px;
  }

  .main-grid-container__news_headliner__box {
    position: absolute;
    width: 91%;
    height: 6rem;
    background: #591f93;
    color: #ffffff;
    bottom: 18%;
    padding: 1rem 2rem;
  }

  .main-grid-container__news_headliner > img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
