.main-grid-container__news__top-article {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-grid-container__news__top-article__card-body {
  padding: 5px 2rem;
}

.main-grid-container__news__top-article__card-body > span {
  background: #ffde77;
  color: #000000;
  font-weight: bold;
  padding: 5px 5px;
}

.main-grid-container__news__top-article__card-body > h4 {
  padding: 1.5rem 0;
}

.main-grid-container__news__top-article__card-body > a {
  color: #000000;
  background: #ffde77;
  font-weight: bold;
  line-height: 5rem;
  padding: 5px 1.5rem;
  text-decoration: none;
}

.main-grid-container__news__top-article__card-body > a:hover {
  color: #ffde77;
  background: #6301e4;
  font-weight: bold;
  line-height: 5rem;
  padding: 5px 1.5rem;
  text-decoration: none;
}
